
{% if user.is_authenticated %}
		<div style="position: absolute; right:6%; top: 0px;"><a href="/chat">Perfil</a></div>
		<div style="position: absolute; right:2%; top: 0px;"><a href="{% url 'logout' %}">Salir</a></div>
		<h2>Chat</h2>
		{% if messages %}
			<div style="width: 50%; margin: 0 auto;">
			    {% for message in messages %}
				    <div style="border: 1px solid black; border-radius: 5px;  margin-right: 2px; margin-bottom: 2px; padding: 5px;">
						<div>{{ message.text }}</div>
						<div style="width: 75%; float: left">Por: {{message.user.first_name}} ({{message.user.get_username}})</div>
						<div style="width: 25%; float: left; text-align: center">{{message.post_date|date:"d.m.Y h:m:s"}}</div>
						<div style="clear: both"></div>
					</div>
			    {% endfor %}
		    </div>
		    <div style="width: 50%; margin: 0 auto; text-align: center">
		    	<input type="text"><input type="submit" value="Enviar">
		    </div>
		{% else %}
	   		<p>No han publicado mensajes.</p>
		{% endif %}
{% else %}
<p>Registrese para ver esta página.</p>
{% endif %}